pkgbase = pyprpaper
	pkgdesc = Randomly change wallpaper for given monitor(s) in hyprpaper.
	pkgver = 0.3.2
	pkgrel = 3
	url = https://github.com/raphaeltannous/pyprpaper
	arch = x86_64
	license = GPL-3.0-only
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	makedepends = python-wheel
	depends = python
	depends = hyprpaper
	source = pyprpaper-0.3.2.tar.gz::https://github.com/raphaeltannous/pyprpaper/archive/refs/tags/v0.3.2.tar.gz
	sha256sums = 0dbca4a8a4187cca82bbc62d8f60b8d14e9464cdf2c4317fe5d2df70e0889cd0

pkgname = pyprpaper
