pkgbase = pyprpaper
	pkgdesc = Randomly change wallpaper for given monitor(s) in hyprpaper.
	pkgver = 0.2.1
	pkgrel = 1
	url = https://github.com/rofe33/pyprpaper
	arch = x86_64
	license = GPL-3.0-only
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	makedepends = python-wheel
	depends = python
	depends = hyprpaper
	source = pyprpaper-0.2.1.tar.gz::https://github.com/rofe33/pyprpaper/archive/refs/tags/v0.2.1.tar.gz
	sha256sums = 487e06f2a850313440974f2aa41af7e8a86328883d102bb86e20a13343c0e6c3

pkgname = pyprpaper
