pkgbase = pyprpaper
	pkgdesc = Randomly change wallpaper for given monitor(s) in hyprpaper.
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/rofe33/pyprpaper
	arch = x86_64
	license = GPL-3.0-only
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	makedepends = python-wheel
	depends = python
	depends = hyprpaper
	source = pyprpaper-0.3.0.tar.gz::https://github.com/rofe33/pyprpaper/archive/refs/tags/v0.3.0.tar.gz
	sha256sums = 43cf7b7abe045e8a44eec97c2bbeb97e840e39f61dbfdf68afdf0ee163b54bdc

pkgname = pyprpaper
